.app {
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  font-size: 40px;
  background-color: #505050c2;
  margin: 0 auto;
  padding: 10px 10px;
}

.label {
  font-size: 28px;
}

.input {
  text-align: center;
  margin: 0 10px;
}

.name {
  margin-right: 5px;
}